<launch>

    <param name="/use_sim_time" value="false"/>

    <!-- 设置地图的配置文件 -->
    <!-- <arg name="map" default="map.yaml"/> -->

    <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find mapping)/maps/$(arg map)" output="screen"/> -->

    <!--- Run AMCL -->
<!--    <include file="$(find amcl)/examples/amcl_omni.launch" />-->

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find mapping)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
        <rosparam file="$(find mapping)/config/costmap_common_params.yaml" command="load" ns="local_costmap"/>
        <rosparam file="$(find mapping)/config/local_costmap_params.yaml" command="load"/>
        <rosparam file="$(find mapping)/config/global_costmap_params.yaml" command="load"/>
        <rosparam file="$(find mapping)/config/dwa_local_planner_params.yaml" command="load"/>

        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
    </node>

</launch>

